<form action="/api/user/forgetpwd" method="post">
  <% if(typeof badmsg != 'undefined' || badmsg) { %>
    <div style="color:red; text-shadow:0px 1px 0px #ccc">
      <%= badmsg %>
    </div>
  <% } %>
  <% if(typeof msg != 'undefined' || msg) { %>
    <div style="color:green; text-shadow:0px 1px 0px #ccc">
      <%= msg %>
    </div>
  <% } %>
  <div>
      <label>Введите ваш E-mail</label>
      <br />
      <input type="text" name="email" /><br />
  </div>  
  <div>
    <br />
    <input type="submit" value="Восстановить" />
  </div>
</form>
<hr />
<a href="/user/login" style="margin-right:10px">Вход</a>
<a href="/user/register">Регистрация</a>