<form action="/api/user/login" method="post">
  <div>
      <label>E-mail</label>
      <br />
      <input type="text" name="email" /><br />
  </div>
  <div>
      <label>Пароль</label>
      <br />
      <input type="password" name="password" />
  </div>
  <div>
    <br />
    <input type="submit" value="Войти" />
  </div>
</form>
<hr />
<a href="/user/forgetpwd" style="margin-right:10px">Забыли пароль?</a>
<a href="/user/register">Регистрация</a>