<form action="/api/user/register" method="post">
  <% if(typeof badmsg != 'undefined' || badmsg) { %>
    <div style="color:red; text-shadow:0px 1px 0px #ccc">
      <%= badmsg %>
    </div>
  <% } %>
  <div>
    <label>Ваше имя</label>
    <br />
    <input type="text" name="name" />
  </div>
  <div>
      <label>Email</label>
      <br />
      <input type="text" name="email" /><br />
  </div>
  <div>
      <label>Пароль</label>
      <br />
      <input type="password" name="password" />
  </div>  
  <div>
    <br />
    <input type="submit" value="Зарегистрироваться" />
  </div>
</form>
<hr />
<a href="/user/login" style="margin-right:10px">Вход</a>
<a href="/user/forgetpwd">Забыли пароль?</a>
